body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p{
    color: dimgray;
}
                                         /*top-banner*/
.top-banner{
    background-image: url('/img/top-banner.png');
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
.orange-color{
    color: orange;
}
.span-world{
    color: black;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
}
                                /*dream-area*/
.dream-area{
    background-image: url('/img/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.box-shadow{
    box-shadow: 5px 7px 40px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 5px;
    
}
                        /*experience area*/
.experience-area{
    background-image: url('/img/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}

.head{
    font-size: 40px;
}

.full-stack{
    border-left: 7px solid tomato;
}
.baby-web{
    border-left: 7px solid blue;
}

.text-center{
    text-align: center;
    padding-bottom: 10px;
}